.head-container{
  width: 100vw;
}

.container {
    width: 50%;
    margin: 10rem auto;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 2rem;
  }

  .login-container {
    width: 20%;
    margin: 10rem auto;
    padding: 2rem;  
  }

  .margin {
    margin-top: -7.5rem;
  }
  
  h2 {
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 2rem;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }

  select {
    width: 100%;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 0.4rem;
    box-sizing: border-box; 
  }

  
  input[type="text"],
  input[type="password"],
  input[type="tel"],
  input[type="date"],
  input[type="email"]
  {
    width: 100%;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 0.4rem;
    box-sizing: border-box;
  }
  
  input[type="submit"] {
    width: 100%;
    padding: 1rem;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 0.4rem;
    cursor: pointer;
    margin-bottom: 1rem;
  }
  
  input[type="submit"]:hover {
    background-color: #45a049;
  }

  .existing-account-description {
    margin-bottom: 1rem;
    text-align: center;
  }

  .login-btn {
    width: 100%;
    padding: 1rem;
    background-color: #4CAF50;
    border: none;
    border-radius: 0.4rem;
    cursor: pointer;
  }

  .login-btn a {
    width: 100%;
    text-decoration: none;
    color: #fff;
  }
